.follow {
	height: 400px;
	width: 100%;
	display: flex;
	align-items: center;
	margin-bottom: 60px;
	@media screen and (max-width: 520px) {
		flex-wrap: wrap;
		height: auto;
	}
	&-left {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		height: 400px;
		width: 50%;
		padding: 100px 110px 120px 0px;
		box-sizing: border-box;
		background-image: url("../img/bg-sale.png");
		background-repeat: no-repeat;
		background-size: cover;
		position: relative;
		@media screen and (max-width: 1024px) {
			padding: 100px 30px 120px 0px;
		}
		@media screen and (max-width: 520px) {
			width: 100%;
			align-items: flex-start;
			padding: 100px 30px 120px 30px;
		}
		&::after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			display: block;
			width: 100%;
			height: 100%;
			background-color: #008bccb0;
		}
		& h3 {
			position: relative;
			z-index: 5;
			text-align: right;
			width: 63%;
			margin-bottom: 45px;
			@media screen and (max-width: 1024px) {
				width: 100%;
			}
			@media screen and (max-width: 520px) {
				text-align: left;
			}
		}
		& .box__soc {
			position: relative;
			z-index: 5;
			& a {
				width: 62px;
				height: 62px;
				& i::before {
					font-size: 37px;
				}
			}
		}
	}
	&-right {
		background-color: $blue;
		height: 400px;
		padding: 100px 0px 120px 110px;
		box-sizing: border-box;
		width: 50%;
		@media screen and (max-width: 1024px) {
			padding: 100px 30px 120px 30px;
		}
		@media screen and (max-width: 520px) {
			width: 100%;
		}
		& h3 {
			position: relative;
			z-index: 5;
			text-align: left;
			width: 63%;
			margin-bottom: 45px;
			@media screen and (max-width: 1024px) {
				width: 100%;
			}
		}
	}
}
.sale .sale-cont .row-towar__container-item {
	padding: 0;
	min-height: 400px;
}
