$white: #fff;
$lite-greey: #f6f6f6;
$small-greey: #939393;
$smale-grey: #E9E9E9;
$greey: #777;
$dark-green: #333;
$black: #000;
$black2: #131313;
$lite-blue: #00acde;
$blue: #008bcc;
$blue-text: #017cc2;
$green: #3bb878;
$red: #ff0000;
$yeallow: #fab73d;
$orange: #F2994A;

$R-b: "Roboto-Bold";
$R-m: "Roboto-Medium";
$R-r: "Roboto-Regular";
/*--- страница лк ---*/
@import "_page__lc";
@import "_page__lc-sideBar";
@import "_page-lc-profile-content";
/*--- страница лк ---*/
